
type thermald_socket, file_type;
type diag_logs, file_type, data_file_type;

type mpdecision_socket, file_type;
type mpdecision_state, file_type;
type sysfs_smdcntl_open_timeout, fs_type, sysfs_type;


type sched_boost_proc, fs_type, mlstrustedobject;

